/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
}

body {
  min-height: 100vh;
}

#app {
  background-color: rgb(71, 124, 124);
  height: 100%;
}
